@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{   
    padding: 1px 15px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    padding: 20px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(37, 132, 190);
    border-radius: 10px;
}
header ul li a:hover,
header ul li a.active
{
    background: rgba(227, 226, 234, 0.476);
    color:rgb(48, 104, 201);
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#151186,#fff);
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: rgba(255, 255, 255, 0.599);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.599);
    color: rgba(255, 255, 255, 0.444);
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{   

    position: relative;
    padding: 100px 100px;
    background: #0a093f;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1em;
    color: #fff; 
}
#contact
{   

    position: relative;
    padding: 100px 100px;
    background: #0a093f;
}
#contact h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
#contact p
{
    font-size: 1em;
    color: #fff; 
}
